<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageSettings"
             type="System.Configuration.NameValueFileSectionHandler" />
    <section name="DiscordSettings" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="EmojiReplaceSettings" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <appSettings>
    <add key="ListeningPort"                  value="50083" />
    <add key="BouyomiChanPort"                value="50080" />
    <add key="BouyomiChanHost"                value="localhost" />

    <add key="RetryCount"                     value=""/>
    <add key="RetrySleepTime.Milliseconds"    value="5000"/>

    <add key="ShellPath"                      value="C:\Windows\System32\cmd.exe"/>
    <add key="ShellOption"                    value="/C"/>

    <add key="CommandFile"                    value="command.json" />
    <add key="SystemCommandFile"              value="system-command.json" />

    <!-- Discord.Netを利用した簡易読み上げクライアントを利用するか(DiSpeakを利用しない設定) -->
    <!-- Trueの場合、DiscordSettingsセクションの設定が必要です -->
    <add key="Use.DiscordClient"              value="False" />
  </appSettings>

  <DiscordSettings>
    <!-- BOT用トークン -->
    <add key="DiscordToken"                   value="{TOKEN}" />
    
    <!-- 読み上げさせたいサーバーID（カンマ区切りで複数設定可,カンマ前後のスペースはトリムされます） -->
    <add key="List.ReadOutTargetGuild"        value="{GUILD_ID}" />

    <!-- ReadOutTargetGuildChannelListの指定をホワイトリスト方式とする(True:ホワイトリスト,False:ブラックリスト) -->
    <add key="Use.GuildChannelWhiteList"      value="True" />
    <!-- 対象とするサーバーチャンネルID（カンマ区切りで複数設定可,カンマ前後のスペースはトリムされます） -->
    <add key="List.ReadOutTargetGuildChannel" value="{GUILD_CHANNEL_ID}" />

    <!-- 各種メッセージ定義 -->
    <add key="Format.DiscordMessage.PostPlainMessage"                     value="{NICKNAME} {MESSAGE}" />
    <add key="Format.DiscordMessage.PostMessageWithFile"                  value="{NICKNAME}がファイルを{FILE_COUNT}件送信しました。{FILE_NAMES}。{MESSAGE}" />
    <add key="Format.DiscordMessage.JoinVoiceChannleMessage"              value="{NICKNAME}が{TARGET_CHANNEL}に参加しました。" />
    <add key="Format.DiscordMessage.LeaveVoiceChannleMessage"             value="{NICKNAME}が{SOURCE_CHANNEL}から退出しました。" />
    <add key="Format.DiscordMessage.MoveVoiceChannleMessage"              value="{NICKNAME}が{SOURCE_CHANNEL}から{TARGET_CHANNEL}に移動しました。" />
    <add key="Format.DiscordMessage.StartStreamingVoiceChannleMessage"    value="{NICKNAME}が配信を開始しました。" />
    <add key="Format.DiscordMessage.EndStreamingVoiceChannleMessage"      value="{NICKNAME}が配信を終了しました。" />

    <!-- 置換文字列定義 -->
    <add key="ReplaceKey.DiscordMessage.Guild"              value="{GUILD}"/>
    <add key="ReplaceKey.DiscordMessage.Channel"            value="{CHANNEL}"/>
    <add key="ReplaceKey.DiscordMessage.UserName"           value="{USER_NAME}"/>
    <add key="ReplaceKey.DiscordMessage.NickName"           value="{NICKNAME}"/>
    <add key="ReplaceKey.DiscordMessage.Message"            value="{MESSAGE}"/>
    <add key="ReplaceKey.DiscordMessage.FileCount"          value="{FILE_COUNT}"/>
    <add key="ReplaceKey.DiscordMessage.FileNames"          value="{FILE_NAMES}"/>
    <add key="ReplaceKey.DiscordMessage.SourceChannel"      value="{SOURCE_CHANNEL}"/>
    <add key="ReplaceKey.DiscordMessage.TargetChannel"      value="{TARGET_CHANNEL}"/>
    
    <add key="RegularExpression.URLShorter"   value="https?://[\w!?/+\-_~;.,*&amp;@#$%()'[\]=]+"/>
    
  </DiscordSettings>

  <MessageSettings>
    <add key="Connecting"                     value="棒読みちゃん 接続確認中・・・" />
    <add key="TryLoginToDiscord"              value="設定値:Use.DiscordClientが有効のためDiscordにログインします。" />
    <add key="SuccessLoginToDiscord"          value="Discordへログインしました。" />
    <add key="Welcome"                        value="ディスピーク 棒読みちゃん ブリッジ　バージョン6　for　ドットネットファイブが起動しました！" />
    <add key="FinishInitialize"               value="イニシャライズ完了！" />
    <add key="ErrorOccurrence"                value="エラーが発生したため、実行を終了します" />
    <add key="DeleteAllExecutionQueues"       value="実行キューをすべて削除します" />
    <add key="ReloadConfig"                   value="設定を再ロードします" />
    <add key="URLShorter"                     value="URL省略"/>
  </MessageSettings>

  <EmojiReplaceSettings>
    <add key="&lt;:of_course:868281043474595851&gt;"    value="拝承"/>
  </EmojiReplaceSettings>
  
</configuration>