<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageSettings"
             type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <appSettings>
    <add key="ListeningPort"                  value="50083" />
    <add key="BouyomiChanPort"                value="50080" />
    <add key="BouyomiChanHost"                value="localhost" />

    <add key="RetryCount"                     value=""/>
    <add key="RetrySleepTime.Milliseconds"    value="5000"/>

    <add key="ShellPath"                      value="C:\Windows\System32\cmd.exe"/>
    <add key="ShellOption"                    value="/C"/>

    <add key="CommandFile"                    value="command.json" />
    <add key="SystemCommandFile"              value="system-command.json" />
  </appSettings>

  <MessageSettings>
    <add key="Connecting"                     value="棒読みちゃん 接続確認中・・・" />
    <add key="Welcome"                        value="ディスピーク 棒読みちゃん ブリッジ　バージョン5　for　ドットネットファイブが起動しました！" />
    <add key="FinishInitialize"               value="イニシャライズ完了！" />
    <add key="ErrorOccurrence"                value="エラーが発生したため、実行を終了します" />
    <add key="DeleteAllExecutionQueues"       value="実行キューをすべて削除します" />
    <add key="ReloadConfig"                   value="設定を再ロードします" />
  </MessageSettings>
</configuration>