<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageSettings"       type="System.Configuration.NameValueFileSectionHandler" />
    <section name="DiscordSettings"       type="System.Configuration.NameValueFileSectionHandler" />
    <section name="EmojiReplaceSettings"  type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <appSettings>
    <!--
        ==========================
        == アプリケーション設定 ==
        ==========================
    -->
    <add key="ListeningPort"                  value="50083" />
    <add key="BouyomiChanPort"                value="50080" />
    <add key="BouyomiChanHost"                value="localhost" />

    <add key="RetryCount"                     value=""/>
    <add key="RetrySleepTime.Milliseconds"    value="5000"/>

    <add key="ShellPath"                      value="C:\Windows\System32\cmd.exe"/>
    <add key="ShellOption"                    value="/C"/>

    <add key="CommandFile"                    value="command.json" />
    <add key="SystemCommandFile"              value="system-command.json" />

    <!-- DiSpeakを利用せず、内部簡易Discordクライアント機能を利用する(True:利用する,False:利用しない) -->
    <!-- 利用する場合DiscordSettingsセクションの設定が必要です -->
    <add key="Use.InternalDiscordClient"      value="False" />
  </appSettings>

  <DiscordSettings>
    <!--
        =========================================
        == 内部簡易Discordクライアント機能設定 ==
        =========================================
    -->
    <!--
        ####################
        ## 各種機能ON/OFF ##
        ####################
    -->
    <!-- サーバーのテキストチャンネルの読み上げ機能を利用する(True:利用する,False:利用しない) -->
    <add key="Use.ReadOut.GuildChannel.Text"    value="True" />
    <!-- サーバーのボイスチャンネルの読み上げ機能を利用する(True:利用する,False:利用しない) -->
    <add key="Use.ReadOut.GuildChannel.Voice"   value="True" />

    <!-- 絵文字の読み上げ置換機能を利用する(True:利用する,False:利用しない) -->
    <!-- 利用する場合EmojiReplaceSettings内に置換設定を指定してください -->
    <add key="Use.ReadOutReplace.Emoji"         value="True" />

    <!-- メッセージ中のURL省略機能を利用する(True:利用する,False:利用しない) -->
    <add key="Use.ReadOutReplace.URLShortener"  value="True" />
    
    <!-- メッセージ中のスポイラー読み上げ省略機能を利用する(True:利用する,False:利用しない) -->
    <add key="Use.ReadOutReplace.Spoiler"       value="True" />

    <!-- List.ReadOutTarget.GuildChannel.Textの指定をホワイトリスト方式とする(True:ホワイトリスト,False:ブラックリスト) -->
    <add key="Use.ReadOutTarget.GuildChannel.Text.WhiteList"     value="True" />
    <!-- List.ReadOutTarget.GuildChannel.Voiceの指定をホワイトリスト方式とする(True:ホワイトリスト,False:ブラックリスト) -->
    <add key="Use.ReadOutTarget.GuildChannel.Voice.WhiteList"    value="True" />


    <!--
        ##################
        ## 読み上げ設定 ##
        ##################
    -->
    <!-- メッセージ監視用DiscordBOTトークン（BOTが読み上げさせたいサーバーに参加している必要があります） -->
    <add key="DiscordToken"                           value="{TOKEN}" />
    <!-- 読み上げさせたいサーバーID（カンマ区切りで複数設定可,カンマ前後のスペースはトリムされます） -->
    <add key="List.ReadOutTarget.Guild"               value="{GUILD_ID}" />
    <!-- 対象とするサーバーのテキストチャンネルID（カンマ区切りで複数設定可,カンマ前後のスペースはトリムされます） -->
    <add key="List.ReadOutTarget.GuildChannel.Text"   value="{GUILD_TEXT_CHANNEL_ID}" />
    <!-- 対象とするサーバーのボイスチャンネルID（カンマ区切りで複数設定可,カンマ前後のスペースはトリムされます） -->
    <add key="List.ReadOutTarget.GuildChannel.Voice"  value="{GUILD_VOICE_CHANNEL_ID}" />


    <!--
        ################################
        ## 各種読み上げメッセージ定義 ##
        ################################
    -->
    <add key="Format.DiscordMessage.PostPlainMessage"                     value="{NICKNAME} {MESSAGE}" />
    <add key="Format.DiscordMessage.PostMessageWithFile"                  value="{NICKNAME}がファイルを{FILE_COUNT}件送信しました。{FILE_NAMES}。{MESSAGE}" />
    <add key="Format.DiscordMessage.JoinVoiceChannleMessage"              value="{NICKNAME}が{TARGET_CHANNEL}に参加しました。" />
    <add key="Format.DiscordMessage.LeaveVoiceChannleMessage"             value="{NICKNAME}が{SOURCE_CHANNEL}から退出しました。" />
    <add key="Format.DiscordMessage.MoveVoiceChannleMessage"              value="{NICKNAME}が{SOURCE_CHANNEL}から{TARGET_CHANNEL}に移動しました。" />
    <add key="Format.DiscordMessage.StartStreamingVoiceChannleMessage"    value="{NICKNAME}が配信を開始しました。" />
    <add key="Format.DiscordMessage.EndStreamingVoiceChannleMessage"      value="{NICKNAME}が配信を終了しました。" />
    
    <add key="Format.Replace.URLShortener"                                value="URL省略"/>
    <add key="Format.Replace.Spoiler"                                     value=" 禁則事項です！ "/>
    <add key="Format.Replace.Mention.EveryOne"                            value="チャンネル全員へ "/>
    <add key="Format.Replace.Mention.Here"                                value="オンラインのチャンネル全員へ "/>
    <add key="Format.Replace.Mention.NickName"                            value="{NICKNAME}へ "/>
    <add key="Format.Replace.Mention.Channel"                             value="{CHANNEL}チャンネルへ "/>
    <add key="Format.Replace.Mention.Role"                                value="{ROLE}へ "/>

    <!--
        ############################################
        ## 各種読み上げメッセージ用置換文字列定義 ##
        ############################################
    -->
    <add key="ReplaceKey.DiscordMessage.Guild"              value="{GUILD}"/>
    <add key="ReplaceKey.DiscordMessage.Channel"            value="{CHANNEL}"/>
    <add key="ReplaceKey.DiscordMessage.ChannelId"          value="{CHANNEL_ID}"/>
    <add key="ReplaceKey.DiscordMessage.Role"               value="{ROLE}"/>
    <add key="ReplaceKey.DiscordMessage.RoleId"             value="{ROLE_ID}"/>
    <add key="ReplaceKey.DiscordMessage.UserId"             value="{USER_ID}"/>
    <add key="ReplaceKey.DiscordMessage.UserName"           value="{USER_NAME}"/>
    <add key="ReplaceKey.DiscordMessage.NickName"           value="{NICKNAME}"/>
    <add key="ReplaceKey.DiscordMessage.Message"            value="{MESSAGE}"/>
    <add key="ReplaceKey.DiscordMessage.FileCount"          value="{FILE_COUNT}"/>
    <add key="ReplaceKey.DiscordMessage.FileNames"          value="{FILE_NAMES}"/>
    <add key="ReplaceKey.DiscordMessage.SourceChannel"      value="{SOURCE_CHANNEL}"/>
    <add key="ReplaceKey.DiscordMessage.TargetChannel"      value="{TARGET_CHANNEL}"/>

    <add key="ReplaceKey.System.Mention.EveryOne"           value="@everyone"/>
    <add key="ReplaceKey.System.Mention.Here"               value="@here"/>
    <add key="ReplaceKey.System.Mention.ChannelId"          value="&lt;#{CHANNEL_ID}&gt;"/>
    <add key="ReplaceKey.System.Mention.RoleId"             value="&lt;@&amp;{ROLE_ID}&gt;"/>
    <add key="ReplaceKey.System.Mention.UserId"             value="&lt;@!{USER_ID}&gt;"/>

    <!--
        ############################
        ## 各種検出用正規表現定義 ##
        ############################
    -->
    <add key="RegularExpression.URLShortener"         value="https?://[\w!?/+\-_~;.,*&amp;@#$%()'[\]=]+"/>
    <add key="RegularExpression.Spoiler"              value="\|\|.+?\|\|"/>
    
  </DiscordSettings>

  <EmojiReplaceSettings>
    <!--
        ===================
        == 絵文字置換設定==
        ===================
        Use.InternalDiscordClientとUse.ReadOutReplace.Emojiが有効の場合のみ置換されます
    -->
    <!-- 例 -->
    <!-- <add key="&lt;:of_course:868281043474595851&gt;"    value="拝承"/> -->
  </EmojiReplaceSettings>

  <MessageSettings>
    <add key="Connecting"                     value="棒読みちゃん 接続確認中・・・" />
    <add key="TryLoginToDiscord"              value="設定値:Use.InternalDiscordClientが有効のためDiscordにログインします。" />
    <add key="SuccessLoginToDiscord"          value="Discordへログインしました。" />
    <add key="Welcome"                        value="ディスピーク 棒読みちゃん ブリッジ　バージョン6　for　ドットネットファイブが起動しました！" />
    <add key="FinishInitialize"               value="イニシャライズ完了！" />
    <add key="ErrorOccurrence"                value="エラーが発生したため、実行を終了します" />
    <add key="DeleteAllExecutionQueues"       value="実行キューをすべて削除します" />
    <add key="ReloadConfig"                   value="設定を再ロードします" />
  </MessageSettings>
  
</configuration>